# Системные файлы
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo

# Логи и отладочная информация
*.log
debug.log

# Виртуальное окружение
venv/
myenv/

# Конфиденциальные файлы
.env
.secret

# IDE
.idea/
.vscode/
